@using Owler.Pages

@inherits LayoutComponentBase

<PageTitle>Owler</PageTitle>

<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@
    <main>
        @Body
    </main>
</div>