@page "/Home"
@using Owler.Models;

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <p>
            You are not authorized to access this page.
        </p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="@UserType.Student.ToString()">
    <Authorized>
        <StudentHome />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="@UserType.Teacher.ToString()">
    <Authorized>
        <TeacherHome />
    </Authorized>
</AuthorizeView>